.get {
  margin-top: 140px;
  margin-bottom: 140px;
}

.get__list {
  display:flex;
  @include list-unstyled;
  justify-content: space-between;
  flex-wrap: wrap;
}

.get__item {
  position: relative;
  max-width: 665px;
}

.get__item-content {
  position: absolute;
  top: 30%;
  left: 55px;
}

.get__title {
  font-family: $font-italic;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  margin: 0;
}

.get__txt {
  font-family: $font-stack;
  max-width: 311px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
}

@include breakpoint-down(1373px){
.get__list{
  flex-direction: column;
  align-items: center;
}

.get__txt {
  font-size: 25px;
}
}

@include breakpoint-down(389px){
.get__title {
  font-size: 30px;
  line-height: 50px;;
}

.get__item-content {
  top: 10%;
}

.get__txt{
  font-size: 15px;
}
}